/* Module allows us to use localized styling
    No parent styling over-riding styling here
*/

.listGroup {
    list-style: none;
}

.BtnColor {
    color: green;
}

.container {
    background: green;
}